/* common */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body{ font-family: 'Noto Sans KR', sans-serif;}
* { -webkit-text-size-adjust:none; max-width:100%; }

/*swiper slider*/
.swiper-container { width: 100%; height: 100%; }
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
:root {
--swiper-theme-color:#ffffff;
}
a,a:active, a:visited,a:hover, a:link, a:focus
 {text-decoration:none; color:#000; }

a, 
ul {list-style:none;}
ul, li, p { margin: 0; padding: 0; }
table { width:100%; border-collapse: collapse;}
table th, td { padding: 7px; color:#333;}
.cursor_pointer { cursor: pointer; }
.dw_1200px { width: 100%; max-width: 1200px; margin: 0 auto; text-align: center; }
.dw_100p { width: 100%; margin: 0 auto; text-align: center; }
section h2 { font-size: 32px; margin: 4% 0; font-weight: 600; color: #727272; }
.nav_fix { 
    position: fixed; 
    width: 100%; 
    top: 0; 
    background-color: white; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
.P_btn 
{ width: 100px; margin: 0 auto; background-color: #dddddd; margin-top: 20px; padding: 10px; background-color: rgb(243, 152, 0); border: 3px solid #f1c5ac;}    
.P_btn::after { content: ' '; overflow: hidden; display: block; clear: both; }
.P_btn i { float: right; color: #b33a00;}
.P_btn p { float: left; font-weight: 600; margin-left: 10px; color: black; }
.go_btn { width: 100px; background-color:#ff8d3c; padding: 3%; color: #404040; font-weight: 600; margin: 0 auto;}
.cursor_pointer { cursor: pointer; }

/* main_banner */
.swiper-slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container > .swiper-wrapper .swiper-slide a img { width: 100%; height: 100%; }
.swiper-container > .swiper-button-next { color: white; position: absolute; right: 10%; }
.swiper-container > .swiper-button-next::after { font-size: 80px; }
.swiper-container .swiper-button-prev { color: white; position: absolute; left: 10%; }
.swiper-container .swiper-button-prev::after { font-size: 80px; }
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: white; }
