
/*header*/
.wrap { width:100%; overflow:hidden;}
.wrap .h_wrap { /* position: relative; */ width:100%; overflow:hidden;  z-index: 500; }
.wrap header { width: 100%;  margin: 0 auto; position: relative;  max-width: 1200px; }
.wrap header h1 { width: 100%; margin: 0 auto; margin-top: 1%; margin-bottom: 1%; max-width: 1200px; }
.wrap header h1 img { width: 14%; }
.wrap header nav { position: absolute; right: 2%; top: 60%; }   
/* .wrap header .menubar .nav_menu li { float: left; margin-right: 30px; font-size: 18px; }
.wrap header .menubar .nav_menu li a:hover { color:#ff8d3c; }
.wrap header .menubar .nav_menu::after { content: ''; overflow: hidden; clear: both; display: block; }
.wrap header .menubar > label, header .menubar > input ,header .menubar .nav_menu li i { display: none; } */

/* aside */
aside { position: fixed; bottom: 22%; right: 3%; z-index: 500; }
.aside_wrap { width: 50px; height: 50px; position: relative; padding: 10px; background-color: #ff8d3c; }
aside .top_btn { position: absolute; top: 50%; color: black; }
aside .top_btn::after { content:''; width: 0; height: 0; position: absolute; bottom: 18px; left: 3px; border-top: 50px solid none; border-bottom: 15px solid red;
border-right: 10px solid transparent; border-left: 10px solid transparent; border-bottom-color:#000;}

/* B_Area */
.wrap .content { position: relative; width:100%; overflow:hidden;}
.content .B_Area { margin-bottom: 5%; margin-top: 5%; }
.content .B_Area .B_wrap ul li { float: left; width:47%; position: relative; overflow: hidden; }
.content .B_Area .B_wrap ul li:first-child { margin-right: 6%; }
.content .B_Area .B_wrap ul li img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(31, 31, 31, 0.4);
    margin: 0 auto;
    padding-top: 150px;
    box-sizing: border-box;
}
.content .B_Area .B_wrap ul li img::after:hover { left: 0;}
.content .B_Area .B_wrap ul::after { content: ''; display: block; overflow: hidden; clear: both; }

/* P_Area */
.content .P_Area { margin-bottom: 3%; }
.content .P_Area .P_wrap > div { float: left; width: 31%; margin-right: 3%; border: 1px solid #dddddd; padding: 30px; }
.content .P_Area .P_wrap > div:last-child { margin-right: 0; }
.content .P_Area .P_wrap::after { content: ''; display: block; overflow: hidden; clear: both; }

/* A_Area */
.content .A_Area { overflow: hidden; }
.content .A_Area .A_top img { margin-bottom: 3%; }
.content .A_Area .A_top h3 { font-size: 24px; margin-bottom: 2%; color: rgb(243, 152, 0); font-weight: 600; }
.content .A_Area .A_top p { font-size: 20px; margin-bottom: 6%; word-break: keep-all;}

/* N_Area */
.content .N_Area { background-color: #f0f0f0; padding: 3%; margin-top: 5%; }
.content .N_Area .N_contents ul li { float: left; width: 33%; }
.content .N_Area .N_contents ul::after { content: ' '; display: block; overflow: hidden; clear: both; }
.content .N_Area .N_contents ul li:first-child,.content .N_Area .N_contents ul li:nth-child(2) { border-right: 3px solid #ff8d3c; } 
.content .N_Area .N_contents ul li:last-child { margin-right: 0; }
.content .N_Area .N_contents ul li img { margin-bottom: 5%; }
.content .N_Area .N_contents ul li > p:first-of-type { font-weight: 600; font-size: 20px; margin-bottom: 30px; }
.content .N_Area .N_contents ul li > p:nth-last-of-type(2) { margin-bottom: 10px; }
.content .N_Area .N_contents ul li > p:nth-of-type(3) { margin-bottom: 20px; }

/*footer*/
footer { overflow: hidden; }
.wrap .ft_wrap { position: relative; width:100%; overflow:hidden; }
.ft_wrap { background-color: #dadada; color: #000;}
.ft_wrap .f_top { background-color: #d2d2d2; padding: 1%; }
.ft_wrap .f_top ul { margin-bottom: 2%; width: 100%; margin: 0 auto; max-width: 1200px; text-align: center;  }
.ft_wrap .f_top ul li {  color: #000; border-right: 1px solid #8e8e8e; } 
.ft_wrap .f_top ul li:last-child { border-right: 0; }
.ft_wrap .f_top ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.ft_wrap .f_bottom { max-width: 1200px; margin: 2% auto; }
.ft_wrap .f_bottom .f_text .f_logo { float: left; }
.ft_wrap .f_bottom .f_text::after { content: ' '; display: block; overflow: hidden; clear: both; }
.ft_wrap .f_bottom .f_text strong { font-weight: 600; }

.ft_wrap .f_bottom .f_text::after { content: ''; display: block; overflow: hidden; clear: both; }
.ft_wrap .f_bottom .f_text ul li { margin-bottom: 10px; }
.ft_wrap .f_bottom .f_text ul:first-child { margin: 0 6%; margin-top: 10px; text-align: left; }
.ft_wrap .f_bottom .f_text ul:last-child { font-size: 14px; text-align: end; }
.ft_wrap .f_bottom .f_text ul:last-child li:first-child { font-size: 20px; font-weight: 600; }
.ft_wrap .f_bottom .f_text ul:last-child li:nth-child(2) { font-weight: 600; }

.menubar { width:100%; overflow:hidden; }

/* content.html style */
.content .c_top h2 { font-size: 22px; text-align: left; margin: 30px; margin-bottom: 6%; font-weight: 600; }
.content .c_menu { width: 100%; max-width: 1200px;}
.content .c_menu ul li { float: left; width: 17%; margin-right: 2%; background-color: #f08300; padding: 2%; font-size: 15px; }
.content .c_menu ul li a { color: white; }
.content .c_menu ul li:first-child { margin-left: 3.2%; }
.content .c_menu ul::after { content: ''; display: block; overflow: hidden; clear: both; }

.h_border { border-bottom: 1px solid #ddd; margin-bottom: 2%; }
.content .c_middle a img { margin-top: 2%; margin-bottom: 5%; }
.content .c_middle { width: 100%; max-width: 1200px; margin: 0 auto; }
.content .c_middle p { margin-bottom: 5%; font-weight: 600; }

/* moms.html style */
.content .moms_menu ul li { float: left; width:25%; margin-right: 5%;  background-color: #ed7082; padding: 2%;  }
.content .moms_menu ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.content .moms_menu ul li:first-child { margin-left: 7%; }
.content .moms_menu ul li a { color: white; }


/*notice.html style*/
table { width: 100%; text-align: center; word-break: keep-all; font-size: 16px; color: #1c1c1c; margin-bottom: 3%; }
table th { font-size: 13px; color: #000; }
table th > i { margin-left: 5px; }
.cm_middle tr > th { border-bottom: 1px solid #dddddd; border-top: 2px solid #4e575e;}
.bg_g > td { border-bottom: 1px solid #dddddd; }
.bg_w > td{ border-bottom: 1px solid #dddddd; font-size: 13px; }
table th, td { padding: 10px; color:#333; text-align: center;}
.wrap .c_middle .bg_g { background-color: #f6f7fc; }
.txt_c { text-align: center; }
.wrap .c_bottom { width: 100%; overflow: hidden; }
.wrap .c_middle {  position: relative; }

.fa-heart {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    font-size: 0.833em;
    color: #fff;
    background: #e52955;
    text-align: center;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 2px;
    font-weight: normal;
    margin-left: 10px;
}

#bo_btn_top { margin: 20px 0; }
#bo_list_total { float: left; line-height: 30px; font-size: 12px; color: #4e546f; background: #d4d4d4; padding: 0 10px; border-radius: 5px; }
#bo_btn_top::after { display: block; visibility: hidden; clear: both; content: "";}
#bo_sch form { overflow: hidden; }
#bo_sch { float: left; border: 1px solid #ccc; background: #fff; border-radius: 5px; }
#bo_sch legend { position: absolute; margin: 0; padding: 0; font-size: 0; line-height: 0; text-indent: -9999em; overflow: hidden; }
#bo_sch form select option { margin-right: 5px; }
.msg_sound_only, .sound_only {
display: inline-block !important;
position: absolute;
top: 0;
left: 0;
margin: 0 !important;
padding: 0 !important;
font-size: 0;
line-height: 0;
border: 0 !important;
overflow: hidden !important;
margin-right: 5px;
}
#bo_sch select { border: 0; margin: 9px 5px; height: 20px; float: left; border-right: 1px solid #ddd; font-size: 12px; }
#bo_sch .sch_input { height: 38px; border: 0; padding: 0; background-color: transparent; float: left; font-size: 12px; }
#bo_sch .sch_btn { height: 38px; float: left; background: none; border: 0; width: 40px; font-size: 15px; }


/* page */
.cm_bottom .pg_wrap { clear:both;margin:0 0 20px; padding:50px 0 0; text-align:center; font-size: 13px; }
.cm_bottom .pg_page, .pg_current { display:inline-block; padding:0 10px; height:25px; color:#000; letter-spacing:0; line-height:25px; }
.cm_bottom .pg a:focus, .pg a:hover { text-decoration:none}
.cm_bottom .pg_page { background:#e4eaec;text-decoration:none}
.cm_bottom .pg_current { display:inline-block;/* margin:0 4px 0 0; */background:#333; color:#fff; font-weight:normal;}	
.cm_bottom .total_count { font-size:20px;font-weight:bold;padding:5px 5px;float:right;}

/*notice_view.html style*/
.content .cmt_top { margin-top: 2%; }
.content .cmt_top h2 { font-size: 20px; font-weight: 600; text-align: left; margin: 2% 0; }
.content .cmt_top h2 strong { font-weight: 900; color: #000; }

.content .cmt_top .cmt_middle { margin-bottom: 5%; border-bottom: 1px solid #ddd; }
.content .cmt_top .cmt_middle div:first-child { float: left; margin-bottom: 2%; font-weight: 600; }
.content .cmt_top .cmt_middle div:first-child strong { font-size: 13px; color: #000; }
.content .cmt_top .cmt_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.content .cmt_top .cmt_middle div:last-child
{ float: right; color: #888; font-size: 13px; font-weight: initial; font-style: italic; margin-right: 10px; }

.content .cmt_bottom { text-align: left; margin-bottom: 10%; }
.content .cmt_bottom p { font-size: 13px; }
.content .cmt_bottom p:first-child { margin-bottom: 10px; }

.content .cmt_btn { background-color: #4c4f6f; padding: 10px; border-radius: 5px; float: right; margin-bottom: 5%; }
.content .cmt_btn a { color: white; font-size: 12px; }
.content .cmt_btn a i { font-size: 10px; margin-right: 3px; }

/* modal */
.modal_background { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.3); z-index: 10; }
.modal_box { display: none; position: fixed; background: #fff; z-index: 11; width: 500px; height: 500px; top: 20%; left:37%;  }    
.modal_content { text-align: center; }
.modal_content img { margin: 5% 0; position: relative; }
.modal_content i { font-size: 30px; color: orange; position: absolute; top: 5%; right: 5%; }
.modal_content form input { border-radius: 10px; border: 1.5px solid #898989; }
.modal_content form input:first-child,.modal_content form input:nth-child(2) { padding: 10px; }
.modal_content form input:nth-child(2) { margin-top: 3%; }
.modal_content form input:nth-child(3) { padding: 77px 10px;  margin-top: 3%; }
.modal_content form input:nth-child(3) { padding-top: 6px; padding-bottom: 160px; padding-left: 6px; }
.modal_content form input:last-child{ 
    background-color: orange; 
    display: inline-block; 
    margin-top: 3%; 
    color: #ffffff; 
    width: 100px; 
    padding: 10px; 
    border-radius: 20px;
    border: 1px solid orange;

 }

/* media */
@media ( max-width: 1200px) {
    .wrap header h1 { width: 90%; }
    .wrap .content .B_Area,.wrap .content .P_Area { width: 95%; margin: 0 auto; }
    .A_top { margin-top: 5%; }

    .wrap .notice_wrap { width: 95%; }
    table th { text-align: center; }
    table td {padding: 3px; text-align: center; }
    .txt_c { padding: 1% 0;}
    .wrap .c_middle .cm_top ul li { font-size: 18px; }
    table { font-size: 14px;  }
  

}
@media ( max-width: 992px) {
    .m_bottom { margin-bottom: 5%; }
    .wrap header nav { max-width: 500px; }
    .wrap header .menubar .nav_menu li { font-size: 14px; max-width: 700px; }
    .content .P_Area,.content .B_Area,.content .A_Area  { width: 90%; margin: 5% auto; }
    .content .N_Area .N_contents ul li > p:first-of-type { font-size: 17px; }
    .content .N_Area .N_contents ul li > p { font-size: 13px; }
    .content .A_Area .A_top { width: 90%; margin: 0 auto; }
    .content .A_Area .A_top p { font-size: 18px; }
    .content .P_Area .P_wrap > div { width: 47%; }
    .content .P_Area .P_wrap .P_dr { width: 47%; margin: 6% 0 0 24%; }
    .content .P_Area .P_wrap .P_recover { margin-right: 0; }
    .content .P_Area .P_wrap > div { margin-right: 6%; }

    .ft_wrap .f_bottom { font-size: 13px; }
    .ft_wrap .f_bottom .f_text ul:last-child li:first-child { font-size: 14px; }
    .ft_wrap .f_bottom .f_text ul:last-child { font-size: 13px; }

    .modal_box { left: 25%; }
    

}
@media ( max-width: 800px) {
    .content .c_menu ul li { font-size: 13px; }
    
}
/* 768이하에서는 Mobile_menu */
@media ( max-width: 768px) { 

    .wrap header { min-height: 75px; }
    .wrap header h1 img { width: 150px; }
    .wrap header nav { max-width: 95%;}
    .wrap header .menubar label{ display: block; z-index: 100; }
    header h1 { text-align: center; }
    header nav { max-width: 95%; }
    /* header .menubar .menu-icon {
        padding: 28px 20px;
        position: fixed;
        top: 13px;
        left: 0;
        cursor: pointer;
        transition: all .35s;
    }
    header .menubar .menu-icon .nav-icon { background:rgb(243, 152, 0); display: block; height: 4.5px; width: 30px; position: relative; z-index: 400; }
    header .menubar .menu-icon .nav-icon:before {
        background: rgb(243, 152, 0);
        content: " ";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 10px;
    }

    header .menubar .menu-icon .nav-icon:after {
        background: rgb(243, 152, 0);
        content: " ";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -10px;
    }
    header .menubar .nav_menu li i { display: block; }
    header .menubar .menu-btn { display: none; }
    header .menubar .menu-btn:checked ~ .menu-icon .nav-icon { background: transparent; }
    header .menubar .menu-btn:checked ~ .menu-icon .nav-icon:before { transform: rotate(-45deg); top: 0; left: 40px; }
    header .menubar .menu-btn:checked ~ .menu-icon .nav-icon:after { transform: rotate(45deg); top: 0; left: 40px; }
    header nav .menubar .nav_menu {
        width: 200px;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        right: -200px;
        z-index: 300;
    }
    header .menubar .menu-btn:checked + label { z-index: 301; left: 145px; }
    header .menubar .menu-btn:checked + label + .nav_menu { left: 0; padding-left: 4%; padding-top: 10%; box-sizing: border-box; }
    header .menubar .menu-btn:checked + label + .nav_menu > li { margin: 20px; }
    header .menubar .menu-btn:checked ~ .BG { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(22, 22, 22, 0.81); } */

    .content .B_Area .B_wrap ul { width: 90%; margin: 0 auto; }
    .content .N_Area { padding: 2%; }
    section h2 { font-size: 24px; }

    .content .A_Area .A_top h3 { margin-bottom: 5%; }

    .content .B_Area .B_wrap ul li:first-child { margin-right: 0; margin-bottom: 10%; }
    .content .B_Area .B_wrap ul li { width: 100%; }
    .content .P_Area .P_wrap > div { width: 100%; margin-right: 0; margin-bottom: 5%; }
    .content .P_Area .P_wrap .P_dr { width: 100%; margin: 0; }

    .content .P_wrap { width: 70%; margin: 0 auto; }

    .content .N_Area .N_contents ul li:first-child, .content .N_Area .N_contents ul li:nth-child(2) { border-right: 0; }
    .content .N_Area .N_contents ul li:not(:last-child) { width: 100%; margin-bottom: 5%; }
    .content .N_Area .N_contents ul li:last-child { width: 100%; }
    .content .N_Area .N_contents ul li > p { font-size: 18px; }
    .go_btn { padding: 1%; margin-bottom: 5%; }
    .content .N_Area .N_contents ul li img { margin-bottom: 0; }
    .content .N_Area { padding: 0 0; padding-bottom: 0; }
    .content .N_Area .N_contents ul li:first-child { border-top: 3px solid #ff8d3c; padding-top: 5%; }
    .content .N_Area .N_contents ul li { border-bottom: 3px solid #ff8d3c; } 
    .content .N_Area .N_contents ul li:last-child { border-bottom: none; }

    .ft_wrap .f_top ul { padding: 1%;}
    .ft_wrap .f_top ul li { font-size: 13px; }
    .ft_wrap .f_bottom,.ft_wrap .f_bottom .f_text ul:last-child { text-align: center; }
    .ft_wrap .f_bottom .f_text .f_logo { margin: 20px 0; }
    .ft_wrap .f_bottom .f_text ul:last-child  { margin-top: 20px; }

    .content .c_menu ul li { width:100%; background-color: #6a6a6a; border-bottom: 1px solid #ddd; }
    .content .c_menu ul li:first-child { margin-left: 0; }
    .c_middle a img { margin-top: 0; }
    .content .moms_menu ul li { width: 100%; margin-right: 0; border-bottom: 1px solid #ddd; }
    .content .moms_menu ul li:first-child { margin-left: 0; }

    table { font-size: 12px; }
    #bo_list_total { font-size: 12px; }
    table .td2_none { width: 20%; }

    .modal_box { left: 0; width: 100%; height: 70%; }
    .modal_content form input { width: 460px; }
    .modal_content form input:nth-child(1),.modal_content form input:nth-child(2) { padding: 10px; }
    
    .modal_content form input:last-child { width: 77px; padding: 14px; font-size: 14px;}
    .modal_content form input::placeholder { font-size: 12px; }
    .modal_content img { margin: 3% 0; }


 
}

@media ( max-width: 600px) {
    .swiper-container .swiper-button-prev::after,.swiper-container > .swiper-button-next::after  { font-size: 50px; }
    .content .c_top h2 { font-size: 16px; }
    .td_none { display: none; }
    .content .cmt_top h2 { font-size: 16px; margin: 5% 0; }
    .content .cmt_top .cmt_middle div:last-child { font-size: 10px; }
    .content .cmt_top .cmt_middle div:first-child strong { font-size: 11px; }
    .content .cmt_bottom p { font-size: 12px; }
    .content .cmt_btn { line-height: 5px; padding: 6px; }
    .content .cmt_btn a { font-size: 10px; }



}

@media ( max-width: 500px) { 

    header h1 img { width: 30%; }
    section h2 { font-size: 16px; margin: 7% 0; }
    .content .A_Area { margin: 7% auto; }
    .content .A_Area .A_top { width: 80%; }
    .content .A_Area .A_top img { width: 35%; }
    .content .A_Area .A_top h3 { font-size: 18px; }
    .content .A_Area .A_top p { font-size: 14px; }
    
    .fa-heart { width: 14px; margin-left: 5px; }
    .bg_g .txt_l > a, .bg_w td:nth-child(2) a {
        width: 80px;
        display: block;
        padding: 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #bo_sch { width:90%; max-width: 1200px; margin: 0 auto; }
    #bo_sch .sch_input { width: 65%; }
    
    .modal_content form input { width:270px; }
    .modal_content img { width: 135px; }
    .modal_box { height: 460px; }
    .modal_content form input:last-child { width: 70px; font-size: 12px;  padding: 10px; }

    
    
}
@media ( max-width: 400px) {
    .swiper-container .swiper-button-prev::after,.swiper-container > .swiper-button-next::after  { font-size: 40px; }
    .wrap header h1 img { width: 130px; margin-top: 10px; }
    header .menubar .menu-icon { top: 10px; }
    .wrap header h1 { margin-top: 0; }

    table td { text-align: left; }
    .modal_box { height: 435px; }
    

}
@media ( max-width: 360px) {
    #bo_sch .sch_input { width: 60%; }
}
   

   


